<h1>Listing eco_systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eco_systems.each do |eco_system| %>
      <tr>
        <td><%= eco_system.name %></td>
        <td><%= link_to 'Show', eco_system %></td>
        <td><%= link_to 'Edit', edit_eco_system_path(eco_system) %></td>
        <td><%= link_to 'Destroy', eco_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eco system', new_eco_system_path %>
