<%= render 'commons/content_header' %>



<div class="row">
<!-- begin col-3 -->
<div class="col-md-3 col-sm-6 ui-sortable">
  <div class="widget widget-state bg-purple">
    <div class="state-icon"><i class="fa fa-desktop"></i></div>
    <div class="state-info">
      <h4>Servers</h4>
      <p><%= @eco_system.applications.inject(0){|total,app| total + app.servers.count} %></p>
    </div>
    <div class="state-link">
      <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
    </div>
  </div>
</div>
<!-- end col-3 -->
<!-- begin col-3 -->
<div class="col-md-3 col-sm-6 ui-sortable">
  <div class="widget widget-state bg-blue">
    <div class="state-icon"><i class="fa fa-database"></i></div>
    <div class="state-info">
      <h4>Databases</h4>
      <p><%= @eco_system.databases.count %></p>
    </div>
    <div class="state-link">
      <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
    </div>
  </div>
</div>
<!-- end col-3 -->
<!-- begin col-3 -->
<div class="col-md-3 col-sm-6 ui-sortable">
  <div class="widget widget-state bg-green">
    <div class="state-icon"><i class="fa fa-leaf"></i></div>
    <div class="state-info">
      <h4>Redis Clusters</h4>
      <p><%= @eco_system.caches.count %></p>
    </div>
    <div class="state-link">
      <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
    </div>
  </div>
</div>
<!-- end col-3 -->
<!-- begin col-3 -->
<div class="col-md-3 col-sm-6 ui-sortable">
  <div class="widget widget-state bg-red">
    <div class="state-icon"><i class="fa fa-bars"></i></div>
    <div class="state-info">
      <h4>Memcache Clusters</h4>
      <p>0</p>
    </div>
    <div class="state-link">
      <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
    </div>
  </div>
</div>
<!-- end col-3 -->
</div>


<% cache_bar = capture do %>
   <div class="col-md-2" style="background:#EEE; padding: 4px;">
       <ul class="list-unstyled">
         <li>
           <%= link_to "New Cache", eco_system_caches_path(@eco_system), method: :post, class: "btn btn-success m-r-5 m-b-5"  %>
         </li>

       </ul>
    </div>
<% end %>
<%= render partial: "commons/application_big_panel", locals: {
  title: "Caches",
  panel_name: "Instances",
  servers: @eco_system.caches,
  action_bar: cache_bar }  %>

<% database_bar = capture do %>
   <div class="col-md-2" style="background:#EEE; padding: 4px;">
       <ul class="list-unstyled">
         <li>
           <%= link_to "New Database", eco_system_databases_path(@eco_system), method: :post, class: "btn btn-success m-r-5 m-b-5"  %>
         </li>

       </ul>
    </div>
<% end %>
<%= render partial: "commons/application_big_panel", locals: {
  title: "Databases",
  panel_name: "Instances",
  servers: @eco_system.databases.each,
  action_bar: database_bar }  %>

<% @eco_system.applications.each do |app| %>
  <% server_bar = capture do %>
     <div class="col-md-2" style="background:#EEE; padding: 4px;">
         <ul class="list-unstyled">
           <li>
             <%= link_to "New Server", application_servers_path(app), method: :post, class: "btn btn-success m-r-5 m-b-5"  %>
           </li>

         </ul>
      </div>
  <% end %>
  <%= render partial: "commons/application_big_panel", locals: {
    title: "#{app.name.capitalize} << #{app.id if Rails.env.development?} >>",
    panel_name: "Servers",
    servers: app.servers,
    action_bar: server_bar }  %>
<% end %>

