<div class="col-md-2 col-sm-2 ui-sortable">
  <div class="widget widget-state <%= get_model_color(server) %>">
    <div class="state-icon" style="line-height: 12px; font-size: 12px; height: 12px; width: 12px;"><i class="fa fa-desktop"></i></div>
    <div class="state-info">
      <h4><%= server.name %></h4>
      <p><%= server.state %></p>
      <p>
      <%= if ["creating"].include?(server.state)
          link_to "Build", build_eco_system_database_path(server.eco_system,server), method: :post, class: "btn btn-white btn-xs"
        end %>
      </p>
      <p><%= link_to "Delete", eco_system_database_path(server.eco_system,server), method: :delete, class: "btn btn-danger btn-xs" %></p>
    </div>
    <div class="state-link" >
      <a href="javascript:;" style="padding:0px;  ">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
    </div>
  </div>
</div>