<%= form_for(@key_pair) do |f| %>
  <% if @key_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key_pair.errors.count, "error") %> prohibited this key_pair from being saved:</h2>

      <ul>
      <% @key_pair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_area :key %>
  </div>
  <div class="field">
    <%= f.label :pub %><br>
    <%= f.text_area :pub %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
